<section id="intro">
    <div class="intro-container wow fadeIn">
        <h1 class="mb-4 pb-0"><span>اعادة تعين </span>كلمة السر</h1>
        <p class="mb-4 pb-0">مرحبا بك في قسم اعادة تعين كلمة السر</p>
    </div>
</section>
<!--==========================
      Contact Section
    ============================-->
<main id="main">
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>مرحبا بك في قسم اعادة تعين كلمة السر</h2>
                <p>نحن سعداء لانك معانا .</p>
            </div>
            <div class="form">
                <p *ngIf="errorMessage" class="alert-danger alert">{{errorMessage}}</p>
                <p *ngIf="errorMessagePad" class="alert-danger alert">{{errorMessagePad}}</p>
                <p *ngIf="message" class="alert-success alert">{{message}} <a routerLink="/login">Click Here</a></p>
                <form role="form" [formGroup]="newPassForma" (ngSubmit)="saveNewPass()">
                    <div class="form-row">
                        <div class="form-group col-md-6 col-md-offset-3">
                            <label class="label1 res">كلمة السر الجديده</label>
                            <input type="password" name="email " class="form-control res" id="newPass" formControlName="newPass" />
                            <span *ngIf="(newPass.touched||errorMessagePad!='')  && newPass.invalid" class="error res">
                                <span *ngIf="newPass.errors.required">من فضللك ادخل كلمة السر الجديده.</span>
                            </span>
                        </div>
                    </div>
                    <div class="text-center"><button class="text-center" type="submit">حفظ كلمة السر الجديده </button>
                    </div>
                </form>
            </div>
        </div>

    </section>
</main>