<!--==========================
    Footer
  ============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h4>تقدم معانا </h4>
                    <img src="assets/img/apple-touch-icon.png" alt="TheEvenet">
                    <a class="fotter" href="#main">يوتيوبر</a>
                    <img src="assets/img/apple-touch-icon.png" alt="TheEvenet">

                    <p>مساعدة الاعضاء علي تحقيق الشرطين و هم الاول و الثاني و الذيني هما 1000 مشترك و 4000 ساعه مشاهده حتي يتمكن جميع الاعضاء التقدم الي المراجعه و هذا من خلال عرض الباقات التي نقدمها و الاتنسو اننا الشركه الاوله علي مستوي العالم كله لتنجيح
                        القنوات وتفعيلها بمشاهدات حقيقه واشتركات حقيقه دون التعرض للحذف او المجاذفه</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>تابعني</h4>
                    <div id="fb-root"></div>
                    <iframe class="iframe_fac" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FProfessional-104290707815470%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                        width="250" height="200" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>روابط مفيدة</h4>
                    <ul>
                        <li> <i class="fa fa-angle-left"></i> <a class="m-r-10" routerLink="/home">الصفحة الرئسيه</a>
                        </li>
                        <li><i class="fa fa-angle-left"></i> <a class="m-r-10" routerLink="/contact-us">تواصل معانا</a>
                        </li>
                        <li><i class="fa fa-angle-left"></i> <a class="m-r-10" routerLink="/services">خدمتنا</a>
                        </li>
                        <li><i class="fa fa-angle-left"></i> <a class="m-r-10" href="/home#faq">شروط الاستخدام</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>تواصل معانا </h4>

                    <p>
                        <strong> العنوان</strong>
                        <br> شارع جامع الشيخ بلال <br> طريق اسكندريه مطروح <br> مصر <br>
                        <strong>فودفون كاش : </strong> <a href="tel:+0201226706792"> 01064006732 02+</a><br>
                        <strong> الاميل : </strong><a target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHwfMzbnsGHMNwjlLsWsGQZgmvnfSTmtWfBJXwBftBKGDhWFJWczTjWQCMmfdHSdJlWszDt">
                            lenamarwan575@gmail.com</a><br>
                    </p>

                    <div class="social-links">
                        <a href="https://www.facebook.com/profile.php?id=100028889978551" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>

                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHwfMzbnsGHMNwjlLsWsGQZgmvnfSTmtWfBJXwBftBKGDhWFJWczTjWQCMmfdHSdJlWszDt" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=%20201226706792" target="_blank" class="linkedin"><i class="fa fa-whatsapp"></i></a>
                        <a href="https://www.paypal.com/myaccount/transfer/homepage/buy/preview" target="_blank" class="linkedin"><i class="fa fa-paypal"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; حقوق النشر <strong>لشركة يوتيوبر</strong>. جميع الحقوق محفوظه
        </div>
        <div class="credits">

            تصميم بواسطة <a target="_blank" href="https://www.upwork.com/freelancers/~01b2abd8af2cf9d968">عبدالرحمن
                خلف</a>
        </div>
    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>