<section id="intro">
    <div class="intro-container wow fadeIn">
        <h1 class="mb-4 pb-0"><span>خدمتنا </span> </h1>
        <p class="mb-4 pb-0">مرحبا بك في قسم خدمتنا </p>
    </div>
</section>
<!--==========================
Our services    
============================-->
<section id="hotels" class="section-with-bg wow fadeInDwon">
    <div class="container">
        <div class="section-header">
            <h2>خدمات شركة يوتيوبر</h2>
            <p class='text-center'>هنا بعض خدمتنا نقدمها لكم ونتمني ان نكون اسعدناكم</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="http://youtuberbot.com:3000/uploads/img/sucss1.jpg" alt="Hotel 1" class="img">
                    </div>
                    <h3>
                        <a> تحقيق الشرطين </a>
                    </h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p> مساعدة الاعضاء علي تحقيق الشرطين الاول والثاني والذئني هما 1000 مشترك و4000 ساعه مشاهده حتي يتمكن جميع الاعضاء التقدم الي المراجعه وهذا من خلال عرض الباقات</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hotel">

                    <div class="hotel-img">
                        <img src="http://youtuberbot.com:3000/uploads/img/sucss2.jpg" alt="Hotel 1" class="img">
                    </div>
                    <h3>
                        <a>عن الباقات </a>
                    </h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>فهما باقتين واحده مدفوعه والاخري مجانا وتحتوي كلاً منهم علي اسبوع تجريبي
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hotel">

                    <div class="hotel-img">
                        <img src="http://youtuberbot.com:3000/uploads/img/sucss3.jpg" alt="Hotel 1" class="img">
                    </div>
                    <h3>
                        <a> عرض الباقات</a>
                    </h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>
                        والتي لا تحتوي علي اي نوع من انواع التواصل بين الاعضاء كما انها تتميز بي الخصوصيه الكامله حيث ان هناك واجه خاصه لكل عضو من الاعضاء والتي تكون محميه بي باسورد لكل مستخدم
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hotel">

                    <div class="hotel-img">
                        <img src="http://youtuberbot.com:3000/uploads/img/sucss6.jpg" alt="Hotel 1" class="img">
                    </div>
                    <h3>
                        <a> تعليمات للباقات</a>
                    </h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>يمكن للمستخدم طلب الموافقه علي الباقه مره اخري سواء كانت مجانيه او مدفوعه بعد ما تمت الموفقه عليها من قبل حتي يتمكن الاعضاء من تحقيق 10 دولار في ايام معدوده كما انه يمكن استغلال المده المتبقيه من الباقه في زيادة المشاهدات علي منصة
                        يوتيوب وزيادة ارباحك علي منصة يوتيوب</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hotel">

                    <div class="hotel-img">
                        <img src="http://youtuberbot.com:3000/uploads/img/sucss5.jpg" alt="Hotel 1" class="img">
                    </div>
                    <h3>
                        <a>الباقه المدفوعه</a>
                    </h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>اجمالي مدة الباقه ثلات اشهر كاملها , تحصيل عدد ساعات العمل للمستخدم يوميا 45 ساعه, تحصيل المشتركين اليومي مفتوح,السعر 350 جنيه وما يعدلها من العملات الاخري</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hotel">

                    <div class="hotel-img">
                        <img src="http://youtuberbot.com:3000/uploads/img/sucss4.jpg" alt="Hotel 1" class="img">
                    </div>
                    <h3>
                        <a>الباقه المجانيه </a>
                    </h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p> اجمالي مدة الباقه 5 اشهر كامله , تحصيل عدد الساعات اليوميه للمستخدم 32 ساعه يوميه,تحصيل المشتركين للمستخدم مفتوح , سعر الباقه مجانيه</p>
                </div>
            </div>
        </div>

    </div>

</section>