<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1> اضافة لمستخدمين المجانيه (تجربه)</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/admin">الصفحة الرئسيه</a></li>
                        <li class="breadcrumb-item active"> اضافة لمستخدمين المجانيه (تجربه) </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <p *ngIf="errorMessage" class=" alert-danger alert">{{errorMessage}}</p>

        <form [formGroup]="postChannalTry" (ngSubmit)="addChannalTry()">
            <div class="form-group">
                <label for="exampleFormControlInput1">قائمة التشغيل </label>
                <input type="text" class="form-control" id="playlistRequired" placeholder="قائمة التشغيل  " formControlName="playlistId">
                <p *ngIf="playlistId.touched  && playlistId.invalid" class="alert-danger ">
                    <strong *ngIf="playlistId.errors.required">Please
                        enter playlistId</strong>

                </p>
            </div>

            <button type="submit" class="btn btn-outline-info btn-block">حفظ التعديل</button>

        </form>

    </section>


</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1> اضافة لمستخدمين المجانيه (مدفوعه)</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/admin">الصفحة الرئسيه</a></li>
                        <li class="breadcrumb-item active"> اضافة لمستخدمين المجانيه (مدفوعه) </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <p *ngIf="errorMessage" class=" alert-danger alert">{{errorMessage}}</p>

        <form [formGroup]="postChannalPia" (ngSubmit)="addChannalPai()">
            <div class="form-group">
                <label for="exampleFormControlInput1">قائمة التشغيل </label>
                <input type="text" class="form-control" id="playlistRequired" placeholder="قائمة التشغيل  " formControlName="playlistId">
                <p *ngIf="playlistId.touched  && playlistId.invalid" class="alert-danger ">
                    <strong *ngIf="playlistId.errors.required">Please
                        enter playlistId</strong>

                </p>
            </div>

            <button type="submit" class="btn btn-outline-info btn-block">حفظ التعديل</button>

        </form>

    </section>


</div>