<section id="intro">
    <div class="intro-container wow fadeOn">
        <h1 class="mb-4 pb-0"><span>شركة</span> يوتيوبر ,<br> سجل معانا لتفعيل قناتك الان<span> ونجاحها</span>
        </h1>
        <p class="mb-4 pb-0">1-12 ,مركز شركة يوتيوبر , مصر</p>
        <!-- <a href="https://www.youtube.com/watch?v=Jz1oXPi8CJs" target="_blank" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
        <a routerLink="/auth/register" class="about-btn scrollto">ابداء الان </a>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>عن شكرة يوتيوبر </h2>
                <p> هي الشركه الاوله علي مستوي العالم لمساعدة الاعضاء بالتعون معاً بعدل وتحقيق الشروط المطلوبه لنجاح القنوات في اليوتيوب وهذا من خلال موقعنا و التسجيل معانا
                    <br> ولقد قدمنا لكم اسبوع مجاني لتجربه ولمصادقه اكثر
                </p>
            </div>
            <div class="col-lg-3">
                <h3>اين</h3>
                <p>مركز شركة يوتيوبر , مصر</p>
            </div>
            <div class="col-lg-3">
                <h3>متي</h3>
                <p>من السبت الي الخميس<br>1-12</p>
            </div>
        </div>
    </div>
</section>
<section id="hotels" class="section-with-bg wow fadeInDwon">

    <div class="container">
        <div class="section-header">
            <h2>خدمات شركة يوتيوبر</h2>
            <p class='text-center'>هنا بعض خدمتنا نقدمها لكم ونتمني ان نكون اسعدناكم</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="http://youtuberbot.com:3000/uploads/img/sucss1.jpg" alt="Hotel 1" class="img">
                    </div>
                    <h3>
                        <a> تحقيق الشرطين </a>
                    </h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p> مساعدة الاعضاء علي تحقيق الشرطين الاول والثاني والذئني هما 1000 مشترك و4000 ساعه مشاهده حتي يتمكن جميع الاعضاء التقدم الي المراجعه وهذا من خلال عرض الباقات</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hotel">

                    <div class="hotel-img">
                        <img src="http://youtuberbot.com:3000/uploads/img/sucss2.jpg" alt="Hotel 1" class="img">
                    </div>
                    <h3>
                        <a>عن الباقات </a>
                    </h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>فهما باقتين واحده مدفوعه والاخري مجانا وتحتوي كلاً منهم علي اسبوع تجريبي
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hotel">

                    <div class="hotel-img">
                        <img src="http://youtuberbot.com:3000/uploads/img/sucss3.jpg" alt="Hotel 1" class="img">
                    </div>
                    <h3>
                        <a> عرض الباقات</a>
                    </h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>
                        والتي لا تحتوي علي اي نوع من انواع التواصل بين الاعضاء كما انها تتميز بي الخصوصيه الكامله حيث ان هناك واجه خاصه لكل عضو من الاعضاء والتي تكون محميه بي باسورد لكل مستخدم
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hotel">

                    <div class="hotel-img">
                        <img src="http://youtuberbot.com:3000/uploads/img/sucss6.jpg" alt="Hotel 1" class="img">
                    </div>
                    <h3>
                        <a> تعليمات للباقات</a>
                    </h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>يمكن للمستخدم طلب الموافقه علي الباقه مره اخري سواء كانت مجانيه او مدفوعه بعد ما تمت الموفقه عليها من قبل حتي يتمكن الاعضاء من تحقيق 10 دولار في ايام معدوده كما انه يمكن استغلال المده المتبقيه من الباقه في زيادة المشاهدات علي منصة
                        يوتيوب وزيادة ارباحك علي منصة يوتيوب</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hotel">

                    <div class="hotel-img">
                        <img src="http://youtuberbot.com:3000/uploads/img/sucss5.jpg" alt="Hotel 1" class="img">
                    </div>
                    <h3>
                        <a>الباقه المدفوعه</a>
                    </h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>اجمالي مدة الباقه ثلات اشهر كاملها , تحصيل عدد ساعات العمل للمستخدم يوميا 45 ساعه, تحصيل المشتركين اليومي مفتوح,السعر 350 جنيه وما يعدلها من العملات الاخري</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hotel">

                    <div class="hotel-img">
                        <img src="http://youtuberbot.com:3000/uploads/img/sucss4.jpg" alt="Hotel 1" class="img">
                    </div>
                    <h3>
                        <a>الباقه المجانيه </a>
                    </h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p> اجمالي مدة الباقه 5 اشهر كامله , تحصيل عدد الساعات اليوميه للمستخدم 32 ساعه يوميه,تحصيل المشتركين للمستخدم مفتوح , سعر الباقه مجانيه</p>
                </div>
            </div>
        </div>

    </div>

</section>
<section id="faq" class="wow fadeInDwon">

    <div class="container">

        <div class="section-header">
            <h2>نصائح للك وبعض التعليمات </h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-9">
                <ul id="faq-list">

                    <li>
                        <a data-toggle="collapse" class="collapsed" href="#faq1"> &nbsp; &nbsp;1- الحافظ علي تنفيذ
                            الهمام يوميا
                            <i class="fa fa-minus-circle text-left"></i></a>
                        <div id="faq1" class="collapse" data-parent="#faq-list">
                            <p>
                                في حالة عدم تنفيذ عدد ساعات المهام اليوميه المطلوبه سوف يتم احتساب اليوم اجازه وفي حالة انتهاء فترة الاجازه سيتم حظر الاميل
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq2" class="collapsed">&nbsp; &nbsp;2- اكمال الاميلات المطلوبه
                            <i class="fa fa-minus-circle"></i></a>
                        <div id="faq2" class="collapse" data-parent="#faq-list">
                            <p>
                                يجب علي كل مستخدم التسجيل في جيميل بي عشر اميلات وضعهم عندك في االصفحه الشخصيه <a href="https://www.youtube.com/watch?v=OyR58T8NjPk" target="_blank"> طريقة التسجيل في
                                    جيميل</a> في حالة عدم التسجيل بي عشر اميلات وادخالهم في صفحتك الشخصيه لن يتم الموافقه علي الاميل الخاص بك
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq3" class="collapsed">&nbsp; &nbsp;3- لزيادة عدد المشتريكن
                            <i class="fa fa-minus-circle"></i></a>
                        <div id="faq3" class="collapse" data-parent="#faq-list">
                            <p>
                                عليك يا عزيزي الدخول يومياً الي الاميلات الذي ستضعها لي في ملفك الشخصي وسوف يزداد عدد المشتركين تلقئياً
                                <br> في حالة عدم دخوللك الي العشر اميلات يومياً لن يزداد عدد مشتركينك
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq4" class="collapsed">&nbsp; &nbsp;4- الموافقه علي الباقه
                            <i class="fa fa-minus-circle"></i></a>
                        <div id="faq4" class="collapse" data-parent="#faq-list">
                            <p>
                                اولاً : ارسال اسكرين بمشتركينك ومشاهداتك الي المسئول عن طريق الوتس اب
                                <br> ثانياً : ارسال طرق التواصل معاك التي يمكننا ارسال المال لك عليها عندما ترسل لنا اصدقائك عبر الكود الخاص بك
                                <br> ثالثاً : يجب التسجيل برقمك التي ستتواصل بيه معانا والتسجيل بي قائمة تشغيل لا تقل عن خمس ساعات وهذا لزيادة مشاهداتك
                                <br> رابعاً : ادخل العشر اميلات في خلال الاسبوع التجريبي وهذا لاجلك انت لزيادة مشتركينك تلقئياً دون تعب
                            </p>

                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq5" class="collapsed">&nbsp; &nbsp;5- لزيادة المشاهدات
                            <i class="fa fa-minus-circle"></i></a>
                        <div id="faq5" class="collapse" data-parent="#faq-list">
                            <p> عليك عزيري المستخدم انجاز مهامك يوميا وتشغيل قوائما التشغيل في وقت واحد </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</section>
<section id="buy-tickets" class="section-with-bg wow fadeInDown">
    <div class="container">
        <div class="section-header">
            <h2>اشتري باقة الان </h2>
            <p>لنبداء الرحلة بنجاح قناتك وتفعيلها , نحن سعداء بوجدك معانا.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-2" *ngFor="let bouqute of bouqutes  ">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h3 class="text-center lead"><a>{{bouqute.title}}</a>
                        </h3>
                        <h6 class="card-price text-center"> {{bouqute.price}}
                            <span>&#163;</span>
                        </h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>{{bouqute.numberOfDays}} يوم</li>

                            <li><span class="fa-li"><i class="fa fa-check"></i></span> ستحصل علي {{bouqute.collectorOfDailyHours}} ساعه يومياً
                            </li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>ستحصل علي {{bouqute.dailySubscriberSum}} مشتركين يومياً
                            </li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span> {{bouqute.dailyWorkingHours | count}} ساعات يوميه عمل</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>{{bouqute.daysOff}} ايام اجازة
                            </li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span> استهلاك الانترنت {{bouqute.monthlyInternetConsumption}} جيجا شهرياً
                            </li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>{{bouqute.numberOfGrids}} شبكات
                            </li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>{{bouqute.playlistRequired}} ساعة قائمة التشغيل المطلوبه</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span> 7 ايام تجريبي </li>
                        </ul>
                        <hr>
                        <div class="text-center">
                            <button type="button" class="btn" data-toggle="modal" data-target="#buy-ticket-modal" data-ticket-type="standard-access">اشتري الان</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Modal Order Form -->
    <div id="buy-ticket-modal" class="modal ">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center">اشتري باقه </h4>

                </div>
                <div class="modal-body">
                    <p *ngIf='getToken()&&errorMessage' class=" alert-danger alert">
                        {{errorMessage}}
                    </p>
                    <p *ngIf='!getToken() && errorMessagein' class=" alert-danger alert">
                        {{errorMessagein}},انت لست مسجل الان
                        <a routerLink="/auth/login">الدخول </a> او <a routerLink="/auth/register">التسجيل</a> لكي تسطيع شراء باقه
                    </p>
                    <p *ngIf='message' class="alert alert-primary ">{{message}} افحص ملفك الشخصي
                        <a routerLink='/my-profile' data-dismiss="modal" aria-label="Close">ملفي الشخصي</a>
                    </p>

                    <form [formGroup]="postBouqute" (ngSubmit)="PostReantaleBouqute()">
                        <div class="form-group">
                            <select id="ticket-type" name="ticket-type" class="form-control" formControlName="idBouqute">
                                <option value="standard-access">-- اختار الباقه التي تريدها --</option>
                                <option *ngFor=" let bouqute of bouqutes " value="{{bouqute._id}}">{{bouqute.title}}
                                </option>

                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn">اشتري الان </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>