<section id="intro">
    <div class="intro-container wow fadeIn">
        <h1 class="mb-4 pb-0"><span>تفعيل </span>بريدك الالكتروني</h1>
        <p class="mb-4 pb-0">مرحبا بك في قسم تفعيل الاميل</p>
    </div>
</section>
<main id="main  myInfo">
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>مرحبا بك في قسم تفعيل الاميل</h2>
                <p>نحن سعداء لانك معانا.</p>
            </div>
            <div class="form" *ngIf="!token">
                <p *ngIf="errorMessage" class="alert-danger alert">{{errorMessage}}</p>
                <p *ngIf="errorMessagePad" class="alert-danger alert">{{errorMessagePad}}</p>
                <p *ngIf="message" class="alert-success alert">{{message}} <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl" target="_blank">Click here</a></p>
                <p *ngIf="messageWo" class="alert-primary alert">{{messageWo}}</p>
                <form role="form" [formGroup]="ActivateEmail" (ngSubmit)="ActivatedEmail()">
                    <div class="form-row">
                        <div class="form-group col-md-6 col-md-offset-3">
                            <label class="label1 res">اميللك</label>
                            <input type="email" name="email " class="form-control res" id="email" formControlName="email" />
                            <span *ngIf="(email.touched  ||errorMessagePad!='')&& email.invalid" class="error res">
                                <span *ngIf="email.errors.required">من فضللك ادخل الاميل.</span>
                            <span *ngIf=" email.errors.email">من فضللك ادخل اميل صحيح</span>
                            </span>
                        </div>
                    </div>
                    <div class="text-center"><button class="text-center" type="submit">ارسل الي البريد الالكتروني
                            </button></div>
                </form>
            </div>
            <div class="myInfo" *ngIf="token">
                <p *ngIf="errorMessage" class="alert-danger alert">{{errorMessage}}</p>
                <p *ngIf="message" class="alert-success alert">{{message}}</p>
            </div>
        </div>

    </section>
</main>